* {
    margin: 0;
    padding: 0;
}

@keyframes SelfImageShow {
    from {
        opacity: 0;
    }

    top {
        opacity: 1;
    }

}

@keyframes projectsImageAnimation {
    from {
        margin-top: 500px
    }

    to {
        margin-top: 0px;
    }
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: novel-mono-pro, sans-serif;
    font-style: normal;
    overflow: hidden;
}

#mobilePicture {
    display: none;
}

.title-section {
    width: 100%;
    height: 450px;
    position: relative;
    background-color: #0f0f0f;
}

.title-section img {
    width: auto;
    height: 100%;
    background-size: cover;
    position: absolute;
    right: 0;
    animation-name: SelfImageShow;
    animation-fill-mode: both;
    animation-duration: 3s;
}

.title-section-text {
    height: 100%;
    width: 500px;
    position: absolute;
    z-index: 10;
}

.title-section-text p {
    padding: 30% 0 0 100px;
    font-weight: 400;
    font-size: 20px;
}

#welcome-span {
    font-weight: 500;
    font-size: 23px;
}

#third-span-bold {
    font-weight: 500;
    font-size: 23px;
}

.title-section-text h2 {
    padding: 15px;
    margin-left: 200px;
    font-weight: 600;
    font-size: 30px;
    color: #EBE9EA;
}

.title-section-text p {
    color: #EBE9EA;
}

.projects-img-section {
    width: 100%;
    height: auto;
    opacity: .5;
    background-color: grey;
    box-shadow: 0px -10px 40px 10px #b6b6b6;
    margin-top: 1000px;
    animation-duration: 1s;
    animation-fill-mode: both;
    position: relative;
    z-index: 10;
}

.skills-bar-section {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: -60px;
    border-radius: 30px;
    box-shadow: 0px -10px 40px 10px #b6b6b6;
    background-color: #DDDDDD;
    z-index: 15;
}

.skills-bar-section img {
    width: 100px;
    margin: 0 20px;
}

.projects-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    height: 600px;
    width: 400px;
    margin-top: 50px;
}

.project-images {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.project-images img {
    width: auto;
    height: 90%;
    padding: 22px;
}

.project-images .mobile {
    width: auto;
}

.project-description {
    width: 100%;
    height: 30%;
    /* background-color: blueviolet; */
}

.project-description h3 {
    text-align: center;
    padding: 10px;
}

.project-description p {
    text-align: center;
    padding: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex a {
    cursor: pointer;
}

.project-description img {
    width: 30px;
    padding: 0 10px;
}


@media (max-width: 1600px) {
    .title-section img {
        width: auto;
        height: 100%;
        right: 0;
    }

    .title-section-text p {
        padding: 15% 0 0 100px;
    }

    .skills-bar-section {
        width: 80%;
        height: 110px;
        justify-content: space-around;
        left: 50%;
        transform: translate(-50%);
    }

    .skills-bar-section img {
        width: 70px;
        margin: 0 20px;
    }

    .projects-img-section {
        margin-top: 500px;
    }
}

/* 
@media (max-width: 600px) {
    .title-section {
        height: 110vh;
    }

    .title-section-text {
        height: 100%;
        width: 100%;
    }

    .title-section-text p {
        padding: 5% 0 0 0%;
        font-size: 16px;
    }

    .title-section-text h2 {
        padding: 10px;
        font-size: 16px;
        position: relative;
        left: 50px;
        margin-left: 150px;
    }

    #welcome-span {
        font-size: 20px;
    }

    #third-span-bold {
        font-size: 20px;
    }

    .skills-bar-section {
        flex-wrap: wrap;
    }

    #mobilePicture {
        display: block;
        width: 100%;
        height: auto;
    }

    #widePicture {
        display: none;
    }

    .skills-bar-section {
        display: none;
        height: auto;
        padding: 20px 0;
    }

    .skills-bar-section img {
        padding: 10px 0;
        width: 60px;
    }

    .project {
        height: 500px;
        width: 90%;
        margin-top: 150px;
    }

    .title-section img {
        position: absolute;
        right: 0px;
        animation-name: SelfImageShow;
        animation-fill-mode: both;
        animation-duration: 3s;
    }

    .project-images {
        width: 90%;
        height: 50%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

} */

@media (max-width: 600px) {
    .title-section {
        height: 100vh;
        background-color: white;
    }

    .title-section-text {
        height: 100%;
        width: 200px;
        position: absolute;
        z-index: 10;
        right: 0;
        text-align: right;
        padding: 20px;
    }

    .title-section-text p {
        padding: 0;
        font-weight: 400;
        font-size: 16px;
    }

    .title-section-text h2 {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        width: 20px;
        margin-left: 120px;
        margin-top: 20px;
    }

    #mobilePicture {
        display: block;
        width: 120%;
        height: auto;
    }

    #widePicture {
        display: none;
    }

    .projects-img-section {
        display: none;
    }


    .skills-bar-section {
        /* display: none; */
        height: auto;
        padding: 20px 0;
        flex-wrap: wrap;
        margin-top: -100px;
    }

    .skills-bar-section img {
        padding: 10px 0;
        width: 50px;
    }

    .project-images {
        width: 90%;
        height: 50%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .project-description p {
        padding: 10px 20px;
    }


}